<ion-header>
  <ion-toolbar class="transparent-bg">
    <div slot="start" class="ion-margin">
      <app-language #selectLanguage></app-language>
    </div>

    <div class="show-in-landscape">
      <h1 class="glow-text">{{ 'AppName' | translate }}</h1>
    </div>

    <div slot="end" class="ion-margin">
      <ion-button shape="round" size="small" (click)="navigateTheme()">
        {{ 'Login.Title.Theme' | translate }}
        <ion-icon slot="start" name="color-wand-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false">
  <img class="background-image" src="../../../assets/images/pao.jpg" alt="Background Image">
  <div class="centrar">
    <div class="center-container ion-padding-vertical">
      
      <!-- Card Container -->
      <ion-card class="enmarcar" style="background-color: #ffffff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
        <!-- Logo -->
        <img alt="DUOC" src="../../../assets/images/Logo_DuocUC.svg.png" class="centrar"/>
        <ion-card-content>
          <h2 style="color: black;">Recuperar contraseña</h2>
          
          <!-- New Image Space -->
          <img src="assets/images/imagen-preocupado.jpg" class="centrar"/>

          <h3 style="color: black;">Datos incorrectos  intentelo de nuevo</h3>
          <ion-grid>
            <ion-row>
            </ion-row>
          </ion-grid>
          <ion-label class="centrar">
            <a [routerLink]="['/ingreso']">Volver a Inicio de Sesión</a>
          </ion-label>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
